:root {
  --sidebar-width: 190px;

}

.sidebar-left {
  position: absolute;
  left: -210px;
  left: 0;
  min-height: 93vw;
  z-index: 200;
  opacity: 0.2;
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.3), inset -2px 0 3px  rgb(0, 0, 0, 0.3);
  transform: translateX(-210px);
  transition: left 0.5s ease, opacity 0.5s ease, transform 0.6s ease;
}

.left-bar-open {
  transform: translateX(0);
  left: 0;
  opacity: 1;
}

.service-status {
  width: 100%;
  margin: 20px auto 15px;
  padding: 5px 0;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.2), inset -1px -1px 2px rgb(0, 0, 0, 0.3);
}
:root {
  --service-1: #eefaaf;
  --service-2: #b2e63a;
}

.service-status:disabled {
  cursor: not-allowed;
}

.suspended-service {
  background-color: #e48d6a;
}

.good-service {
  background-color: var(--lime-500);
  animation: goodServiceTransition 3s infinite;
}

.special-service {
  background-color: var(--orange-400);
  animation: specialServiceTransition 3s infinite;
}

@keyframes goodServiceTransition {
  0% {
    background-color: var(--lime-yellow-300);
  }
  50% {
    background-color: var(--lime-500);
  }
  100% {
    background-color: var(--lime-yellow-300);
  }
}

@keyframes specialServiceTransition {
  0% {
    background-color: var(--yellow-500);
  }
  50% {
    background-color: var(--orange-400);
  }
  100% {
    background-color: var(--yellow-500);
  }
}

.user-settings {
  margin-top: 10px;
}

.instrument-selectors {
  margin-top: 25px;
}

.line-volume-controls {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mute-icon {
  height: 25px;
}

.mute {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 4px;
  background: #fff;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 1s ease, opacity 3s ease;
}

.open {
  height: auto;
  opacity: 1;
}

#mute {
  margin-bottom: 15px;
}

.specialServiceIsActiveButton {
  font-size: 1rem;
}

.redButton {
  background-color: rgb(124, 124, 124);
  color: #fff;
}

.greenButton {
  background-color: rgb(214, 216, 213);
  color: #222;
}

.arrival-effects {
  font-size: 1rem;
}

.btn-temp-left {
  width: 100%;
  margin: 0 auto 10px;
  background-color: #fff;
  color: #444;
  font-size: 1.1rem;
  border: 1px solid #555;
  border-radius: 2px;
  cursor: pointer;
}

.btn-line {
  width: 100%;
  margin: 1px auto;
  background-color: #fff;
  color: #fff;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  height: 30px;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.2), inset -1px -1px 2px rgb(0, 0, 0, 0.3);
}

.btn-bakerloo {
  background-color: var(--bakerloo);
  
}

.btn-bakerloo:hover {
  background-color: #a15a04;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.slider-container {
  width: 100%;
  height: inherit;
}

.btn-central {
  background-color: var(--central);
}

.btn-central:hover {
  background-color: #ca2009;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-circle {
  background-color: var(--circle);
}

.btn-circle:hover {
  background-color: #e6b800;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-district {
  background-color: var(--district);
}

.btn-district:hover {
  background-color: #025f27;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-hammersmithcity {
  background-color: var(--hammersmithcity);
}

.btn-hammersmithcity:hover {
  background-color: #e192b1;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-jubilee {
  background-color: var(--jubilee);
}

.btn-jubilee:hover {
  background-color: #969d9d;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-metropolitan {
  background-color: var(--metropolitan);
}

.btn-metropolitan:hover {
  background-color: #5a0b3d;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-northern {
  background-color: var(--northern);
}

.btn-northern:hover {
  background-color: #1f1f1f;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-piccadilly {
  background-color: var(--piccadilly);
}

.btn-piccadilly:hover {
  background-color: #051885;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-victoria {
  background-color: var(--victoria);
}

.btn-victoria:hover {
  background-color: #0a84b5;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-waterloocity {
  background-color: var(--waterloocity);
  font-size: 1.2rem;
}

.btn-waterloocity:hover {
  background-color: #58a292;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7), inset 1px 1px 1px rgb(255, 255, 255, 0.9), inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-circle, .btn-hammersmithcity, .btn-jubilee, .btn-waterloocity {
  color: #444444;
}

@media (max-width: 650px) {
  .btn-line {
    width: 100%;
    margin: 1px auto;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    height: 22px;
  }
  .btn-waterloocity {
    font-size: 0.8rem;
  }
  .instrument-button {
    height: 22px;
    font-size: 1rem;
  }
  .service-status {
    height: auto;
    font-size: 0.9rem;
    margin: 5px auto 10px;
    padding: 3px 0;
  }
  .specialServiceIsActiveButton,
  .arrival-effects {
    height: 22px;
    font-size: 0.7rem;
    text-align: center;
  }
  #mute {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .btn-line {
    width: 100%;
    margin: 1px auto;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
    height: 17px;
  }
  .btn-waterloocity {
    font-size: 0.4rem;
  }
  .btn-temp-left {
    font-size: 0.8rem;
  }
  #mute {
    margin-bottom: 6px;
  }
  .instrument-button {
    height: 18px;
    font-size: 0.5rem;
    margin: 0 auto 3px;
  }
  .service-status {
    height: auto;
    font-size: 0.6rem;
    margin: 3px auto 5px;
    padding: 3px 0;
  }
  .specialServiceIsActiveButton,
  .arrival-effects {
    height: 18px;
    font-size: 0.4rem;
    text-align: center;
  }
}
