:root {
  --sidebar-width: 190px;
}

.sidebar {
  overflow-y: auto;
}

.sidebar-left {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 200;
  opacity: 0.2;
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.3),
    inset -2px 0 3px rgb(0, 0, 0, 0.3);
  transform: translateX(-210px);
  transition: opacity 0.5s ease, transform 0.6s ease;
  overflow-y: auto;
}

.left-bar-open {
  transform: translateX(0);
  left: 0;
  opacity: 1;
  overflow: scroll;
}

.service-status {
  width: 100%;
  margin: 20px auto 15px;
  padding: 5px 0;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.2), inset -1px -1px 2px rgb(0, 0, 0, 0.3);
}
:root {
  --service-1: #eefaaf;
  --service-2: #b2e63a;
}

.service-status:disabled {
  cursor: not-allowed;
}

.suspended-service {
  background-color: #e48d6a;
}

.good-service {
  background-color: var(--lime-500);
  animation: goodServiceTransition 3s infinite;
}

.special-service {
  background-color: var(--orange-400);
  animation: specialServiceTransition 3s infinite;
}

@keyframes goodServiceTransition {
  0% {
    background-color: var(--lime-yellow-300);
  }
  50% {
    background-color: var(--lime-500);
  }
  100% {
    background-color: var(--lime-yellow-300);
  }
}

@keyframes specialServiceTransition {
  0% {
    background-color: var(--yellow-500);
  }
  50% {
    background-color: var(--orange-400);
  }
  100% {
    background-color: var(--yellow-500);
  }
}

.user-settings {
  margin-top: 10px;
}

.instrument-selectors {
  margin-top: 25px;
}

.line-volume-controls {
  margin-top: 25px;
  margin-bottom: 25px;
}

.specialServiceIsActiveButton {
  font-size: 1rem;
}

.redButton {
  background-color: rgb(124, 124, 124);
  color: #fff;
}

.greenButton {
  background-color: rgb(214, 216, 213);
  color: #222;
}

.arrival-effects {
  font-size: 1rem;
}

.btn-temp-left {
  width: 100%;
  margin: 0 auto 10px;
  background-color: #fff;
  color: #444;
  font-size: 1.1rem;
  border: 1px solid #555;
  border-radius: 2px;
  cursor: pointer;
}

.btn-line {
  width: 100%;
  margin-top: 3px;
  background-color: #fff;
  color: #fff;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  height: 30px;
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.2), inset -1px -1px 2px rgb(0, 0, 0, 0.3);
}

.btn-bakerloo {
  background-color: var(--bakerloo);
}

.btn-bakerloo:hover {
  background-color: var(--bakerloo-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-central {
  background-color: var(--central);
}

.btn-central:hover {
  background-color: var(--central-dark);
  /* background-color: #1a37b9; */
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-circle {
  background-color: var(--circle);
}

.btn-circle:hover {
  background-color: var(--circle-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-district {
  background-color: var(--district);
}

.btn-district:hover {
  background-color: var(--district-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-hammersmithcity {
  background-color: var(--hammersmithcity);
}

.btn-hammersmithcity:hover {
  background-color: var(--hammersmithcity-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-jubilee {
  background-color: var(--jubilee);
}

.btn-jubilee:hover {
  background-color: var(--jubilee-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
  color: #282828;
}

.btn-metropolitan {
  background-color: var(--metropolitan);
}

.btn-metropolitan:hover {
  background-color: var(--metropolitan-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-northern {
  background-color: var(--northern);
}

.btn-northern:hover {
  background-color: var(--northern-light);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-piccadilly {
  background-color: var(--piccadilly);
}

.btn-piccadilly:hover {
  background-color: var(--piccadilly-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-victoria {
  background-color: var(--victoria);
}

.btn-victoria:hover {
  background-color: var(--victoria-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
}

.btn-waterloocity {
  background-color: var(--waterloocity);
  font-size: 1.2rem;
}

.btn-waterloocity:hover {
  background-color: var(--waterloocity-dark);
  box-shadow: inset 2px 2px 3px 1px rgb(255, 255, 255, 0.7),
    inset 1px 1px 1px rgb(255, 255, 255, 0.9),
    inset -2px -2px 4px rgb(0, 0, 0, 0.3), inset -1px -1px 2px rgb(0, 0, 0, 0.5);
  color: #282828;
}

.btn-circle,
.btn-hammersmithcity,
.btn-jubilee,
.btn-victoria,
.btn-waterloocity {
  color: #292929;
}

.btn-victoria,
.btn-waterloocity {
  color: #202020;
}

.display-orch-instrument {
  font-size: 0.95rem;
}

.display-string-instrument {
  font-size: 0.85rem;
}

.scroll-spacer {
  height: 60px;
}

@media (max-width: 650px) {
  .btn-line {
    width: 100%;
    margin: 1px auto;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    height: 22px;
  }
  .btn-waterloocity {
    font-size: 0.8rem;
  }
  .instrument-button {
    height: 22px;
    font-size: 1rem;
  }
  .service-status {
    height: auto;
    font-size: 0.9rem;
    margin: 5px auto 10px;
    padding: 3px 0;
  }
  .specialServiceIsActiveButton,
  .arrival-effects {
    height: 22px;
    font-size: 0.7rem;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .btn-line {
    width: 100%;
    margin: 1px auto;
    font-size: 0.7rem;
    border: none;
    cursor: pointer;
    height: 17px;
  }
  .btn-waterloocity {
    font-size: 0.4rem;
  }
  .btn-temp-left {
    font-size: 0.8rem;
  }
  .instrument-button {
    height: 18px;
    font-size: 0.5rem;
    margin: 0 auto 3px;
  }
  .service-status {
    height: auto;
    font-size: 0.6rem;
    margin: 3px auto 5px;
    padding: 3px 0;
  }
  .specialServiceIsActiveButton,
  .arrival-effects {
    height: 18px;
    font-size: 0.4rem;
    text-align: center;
  }
}
