.toggle-switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border-radius: 12px;
  cursor: pointer;
}

.toggle-switch-container:hover {
  background-color: #dcdada;
  box-shadow: 2px 2px 5px #fff, -1px -1px 2px rgb(0, 0, 0, 0.6);
}

/* The TEXT label */
.toggle-switch-label {
  cursor: pointer;
}

.toggle-switch {
  display: block;
  position: relative;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The OVAL slider part */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 34px;
  border: 1px solid #918f8f;
  cursor: pointer;
  box-shadow: 1px 1px 3px #fff, -1px -1px 3px rgb(0, 0, 0, 0.6);
}

/* The ROUND switch part */
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: #e6e6e6;
  transition: 0.4s;
  border-radius: 50%;
  border: 1px solid #918f8f;
  box-shadow: inset 2px 2px 5px #fff, inset -2px -1px 2px rgb(0, 0, 0, 0.6), inset -3px -2px 5px rgb(0, 0, 0, 0.3);
}

input:checked + .slider {
  background-color: #bcebac;
  box-shadow: inset 1px 0 2px rgba(63, 197, 18, 0.5), inset 4px 2px 4px rgba(97, 214, 58, 0.3), 1px 1px 3px #fff, -1px -1px 3px rgb(0, 0, 0, 0.6);
}

input:checked + .slider:before {
  transform: translateX(10px);
  /* background-color: #ffffff; */
}
