.toggle-switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border-radius: 12px;
  cursor: pointer;
}

.toggle-switch-container:hover {
  background-color: #dcdada;
}

.toggle-switch-label {
  cursor: pointer;
}

.toggle-switch {
  display: block;
  position: relative;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 34px;
  border: 1px solid #918f8f;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: #e6e6e6;
  transition: 0.4s;
  border-radius: 50%;
  border: 1px solid #918f8f;
}

input:checked + .slider {
  background-color: #bcebac;
}

input:checked + .slider:before {
  transform: translateX(10px);
  background-color: #ffffff;
}

/* Optional: focus styles for accessibility */
input:focus + .slider {
  box-shadow: 0 1px 1px 1px rgba(69, 70, 71, 0.6);
}
