.instrument-selector-container {
  position: relative;
}

.instrument-selector-container:disabled {
  background-color: var(--lime-yellow-200);
  color: #000;
  cursor: not-allowed;
  animation: instrumentButtonTransition 3s infinite alternate;
}

.instrument-light {
  position: absolute;
  top: calc((var(--selector-height) - var(--light-diameter)) / 2);
  right: calc((var(--selector-height) - var(--light-diameter)) / 2);
  height: var(--light-diameter);
  width: var(--light-diameter);
  background-color: rgb(214, 216, 213);
  border: var(--light-border-thickness) solid #999;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #fff, -1px -1px 2px rgb(0, 0, 0, 0.6);
}

.instrument-light:before {
  position: absolute;
  content: "";
  display: block;
  width: calc(var(--light-diameter) - (2 * var(--light-rim-thickness)));
  height: calc(var(--light-diameter) - (2 * var(--light-rim-thickness)));
  /* margin: 3px auto; */
  top:  calc(var(--light-rim-thickness) - var(--light-border-thickness) - var(--light-before-border-thickness));
  left: calc(var(--light-rim-thickness) - var(--light-border-thickness) - var(--light-before-border-thickness));
  /* top: 0; */
  border-radius: 50%;
  background-color: #cccccc;
  border: var(--light-before-border-thickness) solid #999;
  box-shadow: inset 2px 2px 5px #fff, inset -2px -1px 2px rgb(0, 0, 0, 0.6), inset -3px -2px 5px rgb(0, 0, 0, 0.3);
}

.instrument-selector-container:disabled .instrument-light {
  background-color: rgb(214, 216, 213);
  animation: instrumentLightRimTransition 3s infinite;
}

.instrument-selector-container:disabled .instrument-light:before {
  background-color: var(--lime-yellow-300);
  animation: instrumentLightTransition 3s infinite;
}

@keyframes instrumentButtonTransition {
  0% {
    background-color: var(--lime-yellow-100);
  }
  50% {
    background-color: var(--white-600);
  }
  100% {
    background-color: var(--lime-yellow-100);
  }
}

@keyframes instrumentLightTransition {
  0% {
    background-color: var(--yellow-500);
    box-shadow: inset 2px 2px 5px #fcfcfc, inset -2px -1px 2px rgba(132, 161, 2, 0.8), inset -3px -2px 5px rgba(106, 186, 2, 0.5);
  }
  50% {
    background-color: var(--lime-500);
    box-shadow: inset 2px 2px 5px #f8f7c0, inset -2px -1px 2px rgba(76, 103, 1, 0.6), inset -3px -2px 5px rgba(57, 119, 4, 0.3);
  }
  100% {
    background-color: var(--yellow-500);
    box-shadow: inset 2px 2px 5px #fcfcfc, inset -2px -1px 2px rgba(132, 161, 2, 0.8), inset -3px -2px 5px rgba(106, 186, 2, 0.5);
  }
}

@keyframes instrumentLightRimTransition {
  0% {
    background-color: rgb(214, 216, 213);
    box-shadow: 2px 2px 5px #fff, -1px -1px 2px rgb(0, 0, 0, 0.6);
  }
  50% {
    background-color: rgb(213, 240, 199);
    box-shadow: 2px 2px 5px #fff, -1px -1px 3px rgb(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgb(214, 216, 213);
    box-shadow: 2px 2px 5px #fff, -1px -1px 2px rgb(0, 0, 0, 0.6);
  }
}

