@import url(https://fonts.googleapis.com/css?family=Hammersmith+One); 
@import url(https://fonts.googleapis.com/css2?family=VT323); 
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

:root {
  --purple-600: #3b1ec9;
  --blue-500: #042ed7;

  --cerulean-900: #213547;

  --white-000: #fff;
  --panel-grey-200: #f2f1f1;

  --blue-grey-900: #313a4a;
  --black-1000: #000;

  --orange-400: #fcc84e;

  --yellow-500: #f7ed32;

  --lime-yellow-100: #f9fbed;
  --lime-yellow-200: #f8ffd6;
  --lime-yellow-300: #eefaaf;

  --lime-300: #eefc5b;
  --lime-400: #cff652;
  --lime-500: #b2e63a;

  --bakerloo: #b26300;
  --central: #dc241f;
  --circle: #ffcc00;
  --district: #007229;
  --hammersmithcity: #f4a9be;
  --jubilee: #a3a9a9;
  --metropolitan: #751056;
  --northern: #000000;
  --piccadilly: #0019a8;
  --victoria: #0098d4;
  --waterloocity: #6abbaa;

  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Hammersmith One','VT323', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.temp-delete-buttons {
  display: flex; 
}

