:root {
  --transition: 0.15s;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 15px;
  background: #fff;
  transition: height var(--transition) ease-out, opacity calc(var(--transition) * 2) ease, padding-left var(--transition) ease;
  height: 0px;
  opacity: 0;
  box-shadow: inset 2px 2px 3px 1px rgba(223, 223, 223, 0.7),
    inset 1px 1px 1px rgba(238, 238, 238, 0.9),
    inset -3px -4px 4px rgb(0, 0, 0, 0.2), inset -1px -1px 2px rgb(0, 0, 0, 0.3);
}

.slider-open {
  height: 33px;
  opacity: 1;
  padding-left: 5px;
}

.volume-slider {
  height: 1px;
  max-width: 110px;
  margin: 5px;
  transition: height var(--transition) ease;
  color: #e11414;
  background: #c10c0c;
  accent-color: #be3434;
}

.slider-open .volume-slider {
  height: 6px;
}

.mute-icon {
  height: 1px;
  transition: height var(--transition) ease;
}

.slider-open .mute-icon {
  height: 25px;
}

.Bakerloo {
  background-color: rgb(160, 34, 160);
  /* background: rgb(44, 118, 237); */
  accent-color: rgb(160, 112, 34);
  /* accent-color: rgb(34, 160, 55); */
  background: linear-gradient(to right, #e3aaaa 0%, #c10c0c 100%);
}

.Central {
  background-color: rgb(220, 36, 31);
  accent-color: rgb(220, 36, 31);
}

.Circle {
  /* background-color: rgb(255, 211, 41); */
  accent-color: rgb(255, 211, 41);
}

.District {
  /* background-color: rgb(0, 125, 50); */
  accent-color: rgb(0, 125, 50);
}

.HammersmithCity {
  /* background-color: rgb(244, 169, 190); */
  accent-color: rgb(244, 169, 190);
}

.Jubilee {
  background-color: rgb(161, 165, 167);
  accent-color: rgb(161, 165, 167);
}

.Metropolitan {
  background-color: rgb(117, 16, 86);
  accent-color: rgb(117, 16, 86);
}

.Northern {
  background-color: rgb(0, 0, 0);
  accent-color: rgb(0, 0, 0);
}

.Piccadilly {
  background-color: rgb(0, 25, 168);
  accent-color: rgb(0, 25, 168);
}

.Victoria {
  background-color: rgb(0, 152, 216);
  accent-color: rgb(0, 152, 216);
}

.WaterlooCity {
  background-color: rgb(106, 187, 170);
  accent-color: rgb(106, 187, 170);
}
